<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeinsight.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_heart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_heart_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopActivity"
            android:label="@string/shop_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeActivity"
            android:label="@string/notice_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeRoomActivity"
            android:label="라뷰 - 미팅"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoinRoomActivity"
            android:label="라뷰 - 미팅"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileOneActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>